<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="Styles/style.css">
</head>
<body>
<div class="loginBox">
    {% if user.id %}
        <a href="/logout" class="login">Logout</a>
    {% else %}
        <a href="/register" class="login">Register</a> | <a href="/login" class="login">Login</a>
    {% endif %}
</div>
<div class="box">
    <div class="welcome">
        <h2 class="h2">
            Welcome, {% if user.id %}{{ user.name }}!{% else %}please login.{% endif %}
        </h2>
    </div>
</div>
{% for item in cryptocurrencies %}
    <div class="boxC">
        <div class="boxC1">ID: {{ item.id }}</div>
        <div class="boxC1">Name: {{ item.name }}</div>
        <div class="boxC1">Price: {{ item.price }} eur</div>
    </div>
{% endfor %}
</body>
</html>