<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
    <link rel="stylesheet" href="Styles/style.css">
</head>
<body>
<div class="CLR">
    <div class="LR">
        <h2>Please fill this registration form</h2><br>

        <form action="/register" method="post">
            <input class="i" type="text" name="name" value="{{ user.name }}" placeholder="name" required><br>
            <p class="error">{{ error.email }}</p>
            <input class="i" type="email" name="email" value="{{ user.email }}" placeholder="email" required><br>
            <p class="error">{{ error.password }}</p>
            <input class="i" type="password" name="password" placeholder="password" required><br>
            <input class="i" type="password" name="confirmPassword" placeholder="confirm password" required><br>
            <input class="b" type="submit" value="register">
        </form>
        Already have account?
        <a class="login" href="/login">login</a><br>
        <a class="login" href="/">Home</a>
    </div>
</div>
</body>
</html>